parameters:
    level: max
    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#Cannot access offset \d+ on \(callable\(\): mixed\)\|null\.#'
            path: %rootDir%/../../../tests/UrlHighlightExtensionTest.php
